{% extends "layout.html" %}

{% block content %}
<div class="container">
<h1>index.html表示してます</h1>
<p id="test">{{ my_dict.insert_something1 }}</p>
<p><a href="{{ url_for('sample_form') }}">{{ my_dict.insert_something2 }}</a></p>
<h2>1~1000000までの素数一覧</h2>
<ul>
  {% for title in my_dict.test_titles %}
    {% if (title-1)%3==0%}
    <text1><li>{{ title }}</li></text1>
    {%else%}
    <text2><li>{{ title }}</li></text2>
    {%endif%}
  {% endfor %}
</ul>
</div>
<script src="{{ url_for('static', filename='javascript/sample.js') }}"></script>
{% endblock %}