.text{
    /*transform-origin:0 50%;*/
    text-align: center;
    margin:0 auto;
    animation:1s linear infinite rotation1;
}

@keyframes rotation1{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(360deg); }
}

text1 {
  color: rgb(192, 53, 53);
}

text2 {
  color: blue;
}
